<h1>Editing transaction</h1>

<%= form_for :transaction, url: transaction_path(@transaction), method: :patch do |f| %>
    <p>
      <%= f.label :description %><br>
      <%= f.label @transaction.description %>
    </p>

    <p>
      <%= f.label :date %><br>
      <%= f.date_field :date %><br>

    <p>
      <%= f.label :amount %><br>
      <%= f.number_field :delta %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', @transactions_path %>